.search__text{
    width: 100%;
    position: relative;
    input{
        width: 100%;
        margin-top: 36px;
        border: none;
        outline: none;
        border-radius: 34.5px;
        box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.15);
        height: 40px;
        padding: 11px 0 9px 45px;
        &::placeholder{
            color: $color-blue-nav;
            font-size: 14px;
        }
    }
    i{
        position: absolute;
        left: 20px;
        bottom: 10px;
        font-size: 15px;
        color: $color-blue-nav;
    }
}