.hondaCarousel{
    padding-top: 50px;
    .hondaCarousel__content{
        position: relative;
        &.item{
            background-size: cover;
            background-position: center;
            height: 500px;
        }
        &.item-1{
            background-image: url('../imgs/carousel-1-ex.jpg');
        }
        &.item-2{
            background-image: url('../imgs/carousel-2-ex.jpg');
        }
        &.item-3{
            background-image: url('../imgs/carousel-3-ex.jpg');
        }
        &.item-4{
            background-image: url('../imgs/carousel-4-ex.jpg');
        }

        .hondaCarousel__text{
            text-align: center;
            color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            p{
                @include styleText($color-white,25px,$fw-3);
            }
            button{
                font-size: 15px;
                font-weight: 700;
                padding: 6px 24px;
            }
        }
    }
    .slick-dots{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -40px;
        z-index: 100;
        li{
            list-style: none;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: #c4c4c4;
            margin-right: 10px;
            button{
                display: none;
            }
        }
        .slick-active{
            background-color: $color-blue-nav;
        }
    }
    .slick-disabled {
        opacity: 0;
        pointer-events:none;
    }

}
@include responsive('breakpoint-1'){
    .hondaCarousel{
        .hondaCarousel__content{
            &.item{
                height: 400px;
            }
            &.item-1{
                background-image: url('../imgs/carousel-1-res-1.jpg');
            }
            &.item-2{
                background-image: url('../imgs/carousel-2-res-1.jpg');
            }
            &.item-3{
                background-image: url('../imgs/carousel-3-res-1.jpg');
            }
            &.item-4{
                background-image: url('../imgs/carousel-4-res-1.jpg');
            }
            .hondaCarousel__text{
                p{
                    font-size: 21px;
                }
            }
        }
    }
}
@include responsive('breakpoint-2'){
    .hondaCarousel{
        .hondaCarousel__content{
            &.item{
                height: 300px;
            }
            &.item-1{
                background-image: url('../imgs/carousel-1-res-2.jpg');
            }
            &.item-2{
                background-image: url('../imgs/carousel-2-res-2.jpg');
            }
            &.item-3{
                background-image: url('../imgs/carousel-3-res-2.jpg');
            }
            &.item-4{
                background-image: url('../imgs/carousel-4-res-2.jpg');
            }
            
            .hondaCarousel__text{
                p{
                    font-size: 18px;
                }
                button{
                    padding: 4px 90px;
                }
            }
        }
    }
}
@include responsive ('breakpoint-3'){
    .hondaCarousel{
        .hondaCarousel__content{
            &.item{
                height: 400px;
                background-position: left -30px;
            }
            &.item-1{
                background-image: url('../imgs/carousel-1-res-3.jpg');
            }
            &.item-2{
                background-image: url('../imgs/carousel-2-res-3.jpg');
            }
            &.item-3{
                background-image: url('../imgs/carousel-3-res-3.jpg');
            }
            &.item-4{
                background-image: url('../imgs/carousel-4-res-3.jpg');
            }
        }
    }
}
