.ourVehicles {
    background-color: whitesmoke;
    h2{
        color: $color-blue-tittle;
        text-align: center;
        font-size: 60px;
        font-weight: 300;
    }
    .ourVehicles__content {
        .slick-dots{
            display: none !important;
        }
        .item-1 {
            background-image: url("../imgs/cars-1.jpg");
        }
        .item-2 {
            background-image: url("../imgs/cars-2.jpg");
        }
        .item-3 {
            background-image: url("../imgs/cars-3.jpg");
        }
        .item-4 {
            background-image: url("../imgs/cars-4.jpg");
        }
        .item-5 {
            background-image: url("../imgs/cars-5.jpg");
        }
        .item-6 {
            background-image: url("../imgs/cars-6.jpg");
        }
        .item-7 {
            background-image: url("../imgs/cars-7.jpg");
        }
        .item-8 {
            background-image: url("../imgs/cars-8.jpg");
        }
        .item-9 {
            background-image: url("../imgs/cars-9.jpg");
        }
        .item-10 {
            background-image: url("../imgs/cars-10.jpg");
        }
        .item-11 {
            background-image: url("../imgs/cars-11.jpg");
        }
        .item-12 {
            background-image: url("../imgs/cars-12.jpg");
        }
        
        .nav-tabs{
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            .nav-item{
                margin: 0 10px;
                .nav-link{
                    border: none;
                    font-weight: 700;
                    background-color: whitesmoke;
                    color: $color-blue-tittle;
                    &::after{
                        content: "";
                        width: 100%;
                        height: 3px;
                        background-color: $color-blue-tittle;
                        display: block;
                        opacity: 0;
                        transition: all 0.5s;
                    }
                    &:focus::after{
                        opacity: 1;
                    }
                }
                &:first-child{
                    .nav-link::after{
                        opacity: 1;
                    }
                    .nav-link:not(.active){
                        &::after{
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .vehicles__item {
            position: relative;
            background-position: center;
            background-size: cover;
            height: 570px;
            a {
                color: white;
                text-decoration: none;
                position: absolute;
                width: 100%;
                padding-left: 80px;
                top: 40px;
                .vehicles__header{
                    padding-bottom: 40px;
                    h5{
                        font-size: 14px;
                        & > span:first-child{
                            font-weight: 700;
                        }
                    }
                }
                .vehicles__body{
                    width: 27%;
                    min-width: 350px;
                    padding-bottom: 35px;
                    h1{
                        letter-spacing: 21px;
                        line-height: 2;
                        margin-bottom: 0;
                        font-size: 50px;
                        font-style: italic;
                        position: relative;
                        display: inline;
                        span{
                            position: absolute;
                            top: -12px;
                            left: 50%;
                            transform: translateX(-50%);

                            font-size: 13px;
                            letter-spacing: 1px;
                            font-style: normal;
                        }
                        &::before{
                            content: "";
                            width: 33%;
                            height: 1.5px;
                            position: absolute;
                            background-color: white;
                            top: 0px;
                            left: 0;
                        }
                        &::after{
                            content: "";
                            width: 33%;
                            height: 1.5px;
                            position: absolute;
                            background-color: white;
                            top: 0px;
                            right: 0px;
                        }
                    }
                    .vehicles__text{
                        p{
                            font-size: 15px;
                            height: 90px;
                        }
                        .vehicles__value{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            .vehicles__money{
                                width: 50%;
                                h4{
                                    font-size: 33px;
                                    font-weight: 300;
                                    letter-spacing: 1.5px;
                                }
                                h5{
                                    font-size: 13px;
                                    font-weight: 700;
                                    height: 28px;
                                }
                            }
                            .vehicles__rating{
                                width: 50%;
                                h4{
                                    font-size: 33px;
                                    font-weight: 300;
                                    letter-spacing: 1.5px;
                                }
                                h5{
                                    font-size: 13px;
                                    font-weight: 700;
                                    height: 28px;
                                }
                            }
                        }
                        .vehicles__btn{
                            button{
                                font-size: 15px;
                                padding: 3px 30px;
                                font-weight: 700;
                                width: 125px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .vehicles__footer{
                    position: relative;
                    display: flex;
                    
                    height: 83px;
                    align-items: center;
                    
                    margin-top: 15px;
                    &::before{
                        content: "";
                        width: 52%;
                        height: 1.5px;
                        background-color: #ffffff5e;
                        position: absolute;
                        top: 0;
                        right: 53%;
                    }
                
                    img{
                        width: 180px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-125%);
                    }
                    span{
                        font-weight: 700;
                    }

                }
            }
        }
    }
}
@include responsive ("breakpoint-1"){
    .ourVehicles{
        h2{
            font-size: 45px;
        }
        .ourVehicles__content{
            .item-1{
                background-image: url("../imgs/cars-1-res-1.jpg");
            }
            .vehicles__item{
                height: 530px;
                a{
                    padding-left: 50px;
                    .vehicles__body{
                        width: 100%;
                        h1{
                            letter-spacing: 10px;
                            font-size: 45px;
                        }
                        .vehicles__text{
                            width: 50%;
                            p{
                                font-size: 13px;
                                width: 80%;
                                min-width: 300px;
                            }
                            .vehicles__value{
                                .vehicles__money{
                                    h4{
                                        font-size: 27px;
                                    }
                                }
                                .vehicles__rating{
                                    h4{
                                        font-size: 27px;
                                    }
                                    h5{
                                        padding-right: 75px;
                                    }
                                }
                            }
                        }
                    }
                    .vehicles__footer{
                        &::before{
                            right: 49%;
                            width: 56%;
                        }
                        height: 49px;
                        span{
                            font-size: 13px;
                        }
                        img{
                            width: 110px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}
@include responsive("medium"){
    .ourVehicles{
        h2{
            padding-top: 70px;
            font-size: 33px;
            padding-bottom: 10px;
        }
        .ourVehicles__content{
            .slick-arrow{
                font-size: 29px;
                top: 46%;
                opacity: 1;
            }
            .item-1{
                background-image: url("../imgs/cars-1-res.jpg");
            }
            .vehicles__item{
                height: 580px;
                a{
                    padding-left: 0;  
                    top: 51%;
                    text-align: center;
                    .vehicles__header{
                        padding-top: 20px;
                        padding-bottom: 0;
                        h5{
                            span:first-child{
                                display: none;
                            }
                        }
                    }
                    .vehicles__body{
                        padding-bottom: 0;
                        h1{
                            line-height: 1.5;
                        }
                        .vehicles__text{
                            margin: 0 auto;
                            p{
                                display: none;
                            }
                            .vehicles__value{
                                padding-top: 0;
                                padding-bottom: 0;
                                .vehicles__rating{
                                    text-align: right;
                                    
                                    h5{
                                        padding-right: 0;
                                    }
                                }
                            }
                            .vehicles__btn{
                                display: flex;
                                justify-content: space-around;
                                button{
                                    width: 150px;
                                }
                            }
                        }
                    }
                    .vehicles__footer{
                        display: flex;
                        justify-content: center;
                        height: 55px;
                        &::before{
                            width: 100%;
                        }
                        img{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@include responsive("breakpoint-3"){
    .ourVehicles{
        .ourVehicles__content{
            .slick-arrow{
                font-size: 28px;
                top: 28%;
            }
            .item-1{
                background-image: url("../imgs/cars-1-res-2.jpg");
            }
            .vehicles__item{
                height: 522px;
                a{
                    top: 36%;
                    .vehicles__body{
                        .vehicles__text{
                            width: 48%;
                            min-width: 270px;
                            .vehicles__value{
                                padding-bottom: 15px;
                                .vehicles__money{
                                    text-align: left;
                                    h4{
                                        font-size: 22px;
                                    }
                                    h5{
                                        padding-right: 35px;
                                    }
                                }
                                .vehicles__rating{
                                    h4{
                                        font-size: 22px;
                                    }
                                }
                            }
                            .vehicles__btn{
                                justify-content: space-between;
                                button{
                                    width: 120px;
                                    padding: 3px 15px;
                                }
                            }
                        }
                    }
                    .vehicles__footer{
                        margin-top: 50px;
                        height: 56px;
                    }
                }
            }
        }
    }
}